<div class="sidebar">
    <div class="categories">
        <h3>Category</h3>
        <ul>
            @for(cat of this.categories; track $index){
            <li>
                <input type="checkbox" [id]="cat" [value]="cat">
                <label [for]="cat">{{cat}}</label>
            </li>
            }
        </ul>

    </div>

    <div>
        <h3>Pricing</h3>
        <app-slider></app-slider>
    </div>

    <div class="brand">
        <h3>Brand</h3>
        <ul>
            @for(brand of this.brands; track $index){
            <li>
                <input type="checkbox" [id]="brand" [value]="brand">
            <label [for]="brand">{{brand}}</label>
            </li>
            }
        </ul>
    </div>

    <div class="size">
        <h3>Size</h3>
        <ul>
            @for(size of this.sizes; track $index){
            <li>
                <input type="checkbox" [id]="size" [value]="size">
            <label [for]="size">{{size}}</label>
            </li>
            }
        </ul>
    </div>

    <div class="materials">
        <h3>Material</h3>
        <ul>
            @for(material of this.materials; track $index){
            <li>
                <input type="checkbox" [id]="material" [value]="material">
            <label [for]="material">{{material}}</label>
            </li>
            }
        </ul>
    </div>

    <div class="colors">
        <h3>Colors</h3>
        <div>
            @for(color of this.colors; track $index){
            <a href="" class="circle" [ngStyle]="{ 'background-color': color.value }"></a>
            }
        </div>
    </div>

    <div class="reset">
        <button class="regular-black">Reset</button>
    </div>

</div>