<div class="sidebar">
    <div>
        <h3>Category</h3>
        <a href="">Tee Shirt</a>
        <a href="">Pentalon</a>
        <a href="">Chemise</a>
        <a href="">Veste</a>
        <a href="">Sac</a>
        <a href="">Chaussures</a>
    </div>

    <div>
        <h3>Pricing</h3>
        <app-slider></app-slider>
    </div>

    <div class="brand">
        <h3>Brand</h3>
        <div>
            <input type="checkbox" id="Adidas">
            <label for="scales">Adidas</label>
        </div>
        <div>
            <input type="checkbox" id="Nike">
            <label for="scales">Nike</label>

        </div>
        <div>
            <input type="checkbox" id="Lacoste">
            <label for="scales">Lacoste</label>

        </div>
        <div>
            <input type="checkbox" id="Reebok">
            <label for="scales">Reebok</label>
        </div>
    </div>

    <div class="size">
        <h3>Size</h3>
        <div>
            <input type="checkbox" id="S">
            <label for="scales">S</label>
        </div>
        <div>
            <input type="checkbox" id="M">
            <label for="scales">M</label>

        </div>
        <div>
            <input type="checkbox" id="L">
            <label for="scales">L</label>

        </div>
        <div>
            <input type="checkbox" id="XL">
            <label for="scales">XL</label>
        </div>
    </div>

    <button class="regular-black">Reset</button>

</div>