<div class="footer">

    <div class="top-footer">
        <div>
            <h3>Product</h3>
            <a href="">Pantalon</a>
            <a href="">Manteau</a>
            <a href="">Veste</a>
            <a href="">Jean</a>
            <a href="">Bonnet</a>
            <a href="">Chaussures</a>
        </div>
        <div>
            <h3>Brands</h3>
            <a href="">Nike</a>
            <a href="">Adidas</a>
            <a href="">Lacoste</a>
            <a href="">Reebok</a>
            <a href="">Puma</a>
            <a href="">Jordan's</a>
        </div>

        <div>
            <h3>Contact</h3>
            <p>Avenue des combattants, Rillieux la Pape 69140</p>
            <p>magarderobe&#64;gmail.com</p>
            <p>+33 4 85 79 64 25</p>
        </div>
    </div>

    <div class="bottom-footer">
        <div>
            <h3>Subscribe</h3>
            <input type="email" name="" id="">
        </div>

        <div>
            <h3>Language / Currency</h3>
            <div>
            <select>
                <option>English</option>
                <option>French</option>
                <option>Arabic</option>
                <option>Chinese</option>
            </select>
            </div>
            <div>
                <select>
                    <option>&#8364;</option>
                    <option>&#8356;</option>
                    <option>&#8383;</option>
                </select>
            </div>
        </div>

        <div>
            <h3>Follow us</h3>
            <a href="">Instagram</a>
            <a href="">Twitter</a>
            <a href="">Snapchat</a>
            <a href="">Facebook</a>
        </div>
    </div>

</div>