.shopping-card {
    margin-left: 2em;
    width: 20em;
    -webkit-box-shadow: 2px 2px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 26px -8px rgba(0, 0, 0, 0.75);
    display: inline-block;
    height: 25em;
    text-align: center;
    margin-top: 2em;
}

.shopping-card img {
    width: 60%;
    max-height: 30%;
    margin: auto;
}