.shopping-card {
    background: white;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px;
    -webkit-box-shadow: 0.5px 0.5px 6.5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.5px 0.5px 6.5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0.5px 0.5px 6.5px -2px rgba(0, 0, 0, 0.75);
  }
  
  .shopping-card img {
    width: 13vw; /* Largeur uniforme */
    height: 12vw; /* Hauteur uniforme */
    object-fit: cover; /* Gère la façon dont l'image s'adapte */
  }

  .shopping-card div h4, p, button{
    display: block;
    margin-left: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  